body {
    font-family: sans-serif;
}
header{
    background-color: #002868;
}
h1{
    background-color: #002868;
    color: wheat; 
}
footer{
    background-color: #002868;
}
main{
    background-color: #6689CC;
}
body{
    background-color: #6689CC;
}
